* {
    font-family: 'Ginora Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    animation: backgroundColor 10s ease-in backwards infinite alternate 5s;
}

@keyframes backgroundColor {
    to {
        background-color: #fff;
    }
}

#githubAvatar {
    padding: 8px;
    animation: avatar 3s both ease-out, borderColor 10s ease-in backwards infinite alternate 5s;
}

@keyframes avatar {
    from {
        width: 1px;
        border-radius: 0%;
    }

    to {
        width: 250px;
        border-radius: 100%;
    }
}

@keyframes borderColor {
    from {
        border: 1px solid white;
    }
    to {
        border: 1px solid black;
    }
}

.title-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    animation: opacity 3s ease-out both 2s;
}

#userName {
    color: white;
    font-size: 24pt;
    animation: fontColor 10s ease-in backwards infinite alternate 5s;
    cursor: default;
}

#verified {
    width: 20px;
    margin-left: 8px;
    animation: opacity 0.5s 3s ease-in both;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {    
        opacity: 1;
    }
}

@keyframes fontColor {
    to {
        color: black;
    }
}

.description-flag {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#description {
    color: white;
    margin-top: 2px;
    margin-right: 5px;
    animation: description 1s 3s both ease-out, fontColor 10s ease-in backwards infinite alternate 5s;
}

@keyframes description {
    from {
        opacity: 0;
        font-size: 1pt;
    }
    to {
        opacity: 1;
        font-size: 14pt;
    }
}

#flag {
    animation: opacity 0.5s 4s both linear, flag 2s 3.5s both cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
}

@keyframes flag {
    from {
        left: 100px;
    }
    to {
        left: 0;
    }
}

#social-buttons {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#linkedIn {
    animation: opacity 0.5s 5.1s both linear, buttonsUp 1s 5s both cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
}

#github {
    position: relative;
    animation: opacity 0.5s 5.3s both linear, buttonsUp 1s 5.25s both cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#instagram {
    position: relative;
    animation: opacity 0.5s 5.6s both linear, buttonsUp 1s 5.5s both cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes buttonsUp {
    from {
        top: 100px;
    }
    to {
        top: 0;
    }
}

.btn, .social-button-h {
    flex-direction: row;
}

.btn {
    border: 2px solid #e6e6e6;
    display: flex;
    cursor: pointer;
    background-color: black;
    color: white;
    animation: backgroundColor  10s ease-in backwards infinite alternate 5s, borderColor 10s ease-in forwards infinite alternate 5s, fontColor 10s ease-in backwards infinite alternate 5s;
}

.circular-btn {
    border-radius: 21pt;
    margin: 6px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32pt;
    height: 32pt;
}

.btn-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.svg-inline--fa {
    height: 1em;
    vertical-align: -0.125em;
}

